.img1{width: 50%;
height: 50vh;}
.forest{


width: 50%;
height: 50vh;



}
.taj{


	width: 50%;
height: 50vh;
margin-top: 20px;
}
DIV.P{

	background: RED;
}
.forest{

	margin-left: 400px;
	margin-top: -450px;
}
	
h3{margin-left: 400px;}